<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div style="margin: auto; width: 50%; max-width: 30em; padding-top: 5%">
        <div style="text-align: center">
            <h1>Weather Forecast</h1><br/>
        </div>
        <div class="card" style="margin: auto; align-content: center; align-items: center">
            <div class="card-body" style="width: 100%;">
                <form method="get" action="forecast">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" name="country" placeholder="Enter country">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Enter city">
                    </div>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary">Get forecast</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
</html>