<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div style="margin: auto; padding-top: 5%; text-align: center">
        <img src="../media/no_data.svg" alt="no data" style="width: 20%;">
        <h2>Forecast for such a location not found</h2><br/>
        <form method="get" action="/">
            <button type="submit" class="btn btn-primary">Back</button>
        </form>
    </div>
</body>
</html>